.hero {
    background: linear-gradient(180deg, #f7d0fa, #e1ffea22 60%);
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero-left h2 {
    font-size: 26px;
    font-weight: 600;
}

.hero-left p {
    font-size: 100px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 105px;
}

.hero-latest-btn {
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right {
    display: flex;
    justify-content: center;
}

.b4 {
    height: 450px;
    border-radius: 15px;
}

.b12 {
    width: 200px;
    height: 200px;
}

.arrow {
    width: 30px;
    height: 40px;
    margin-left: 10px;
}
